body{
	background-image:url(image/bgim.png);
}
.top_menu{
	background-color:#454545;
	width:100%;
	height:70px;
	position:relative;
	border:2px solid #000;
}
h1{
	color:#fff;
	position	: relative;
	margin-left:50px;
	text-shadow:4px 2px 3px black;
}
.image {
	position	: relative;
}
.img{
	position	: relative;
	margin-top:10px;
	border-radius:20px;
	border:2px solid #000;
	margin-left:30px;
	text-decoration:none;
}
.one {
	position	: absolute;
	top		: 725px;
	left	: 1350px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
.two {
	position	: absolute;
	top		: 725px;
	left	: 1100px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
.three {
	position	: absolute;
	top		: 755px;
	left	: 1400px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
.four {
	position	: absolute;
	top		: 825px;
	left	: 900px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
.five {
	position	: absolute;
	top		: 775px;
	left	: 1175px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
.six {
	position	: absolute;
	top		: 875px;
	left	: 850px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
.seven {
	position	: absolute;
	top		: 875px;
	left	: 950px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
.eight {
	position	: absolute;
	top		: 815px;
	left	: 1390px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
.nine {
	position	: absolute;
	top		: 815px;
	left	: 1450px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
.ten {
	position	: absolute;
	top		: 775px;
	left	: 1250px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
.eleven {
	position	: absolute;
	top		: 250px;
	left	: 600px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
.twelve {
	position	: absolute;
	top		: 925px;
	left	: 1100px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
.threety {
	position	: absolute;
	top		: 775px;
	left	: 1050px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
.fourty {
	position	: absolute;
	top		: 725px;
	left	: 600px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
.fivety {
	position	: absolute;
	top		: 900px;
	left	: 1000px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
.sixty {
	position	: absolute;
	top		: 945px;
	left	: 1040px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
.seventy {
	position	: absolute;
	top		: 900px;
	left	: 900px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
.eighty {
	position	: absolute;
	top		: 850px;
	left	: 1325px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
.ninety {
	position	: absolute;
	top		: 750px;
	left	: 1450px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
.tventy {
	position	: absolute;
	top		: 700px;
	left	: 1425px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
.tventyone {
	position	: absolute;
	top		: 500px;
	left	: 703px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
.tventytwo {
	position	: absolute;
	top		: 860px;
	left	: 1425px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
.tventythree {
	position	: absolute;
	top		: 825px;
	left	: 1100px;
	border	: 2px solid #000;
	border-radius:50px;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	
}
